<div class="form-group">
  <label for="<%= component.full_name %>"><%= component.label %></label>
  <input type="text"
         class="form-control"
         id="<%= component.full_name %>"
         placeholder="<%= component.placeholder %>" />
  <span class="help-block"><%= help_text component.help_text %></span>
</div>
