<%= render 'header' %>

<div class='project-application'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>

        <%= form_for @form.name, url: project_applications_url,
            html: { id: 'new_application' } do |f| %>

          <div class='card'>
            <% @form.children.each do |child| %>
              <% case child
                 when FormBuilder::Component %>
                <%= render partial: 'project_applications/form/top_level_component',
                      locals: { f: f, component: child } %>

              <% else %>
                <%= render partial: 'project_applications/form/group',
                      locals: { f: f, component: child } %>
              <% end %>
            <% end %>

            <div class='card-actions'>
              <%=
                f.submit 'Submit application', class: 'btn btn-primary btn-lg'
              %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<%= content_for :scripts do %>
  <script>
$(document).ready(function() {
  new ApplicationForm('#new_application');
});
  </script>
<% end %>
